body{
    background-color: rgba(232, 232, 232, 0.93);
}

#formEditor{
    margin-top:100px;
    padding:10px;
    background-color:white;
    height:auto;
}
.torok{
    width:50%;
    height:200px;
    display:block;
    margin:auto;
    border:1px solid #cecece;
}